<div
    class="sidebar sidebar-left sidebar-light sidebar-visible-md-up ls-top-navbar-xs-up sidebar-transparent-md" id="sidebarLeft" data-scrollable>
    <div class="sidebar-heading">{{__ "Student"}}</div>
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
            <a class="sidebar-menu-button" href="/">
                <i class="sidebar-menu-icon material-icons">dashboard</i> {{__ "Dashboard"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/student/browseCourse">
                <i class="sidebar-menu-icon material-icons">search</i> {{__ "Browse Courses"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/student/viewCourse">
                <i class="sidebar-menu-icon material-icons">class</i> {{__ "View Course"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/student/accountStudent">
                <i class="sidebar-menu-icon material-icons">account_box</i> {{__ "Edit Account"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/student/scheduleStudent">
                <i class="sidebar-menu-icon material-icons">event</i> {{__ "Schedule"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/student/chatStudent">
                <i class="sidebar-menu-icon material-icons">comment</i> {{__ "Messages"}}
                <span class="sidebar-menu-label label label-default">2</span>
            </a>
        </li>
    </ul>
</div>