<div
    class="sidebar sidebar-left sidebar-light sidebar-visible-md-up ls-top-navbar-xs-up sidebar-transparent-md">
    <div class="sidebar-heading">{{__ "Admin"}}</div>
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
            <a class="sidebar-menu-button" href="/admin/">
                <i class="sidebar-menu-icon material-icons">dashboard</i> {{__ "Dashboard"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/admin/tutorList">
                <i class="sidebar-menu-icon material-icons">search</i> {{__ "Tutor management"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/admin/studentList">
                <i class="sidebar-menu-icon material-icons">class</i> {{__ "Student management"}}
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="/admin/manageCourse">
                <i class="sidebar-menu-icon material-icons">account_box</i> {{__ "Course management"}}
            </a>
        </li>
    </ul>
</div>