<!-- Sidebar -->
<div class="sidebar sidebar-left si-si-3 sidebar-visible-md-up sidebar-light ls-top-navbar-xs-up sidebar-transparent-md"
  id="sidebarLeft" data-scrollable>
  <div class="sidebar-heading">{{__ "Tutor"}}</div>
  <ul class="sidebar-menu">
    <li class="sidebar-menu-item active">
      <a class="sidebar-menu-button" href="/tutor/tutorDashboard">
        <i class="sidebar-menu-icon material-icons">school</i> {{__ "Tutor"}}
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="/tutor/manageStudent">
        <i class="sidebar-menu-icon material-icons">school</i> {{__ "Student Management"}}
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="/tutor/manageCourse">
        <i class="sidebar-menu-icon material-icons">import_contacts</i> {{__ "Course Management"}}
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="/tutor/accountTutor">
        <i class="sidebar-menu-icon material-icons">account_box</i> {{__ "Account Settings"}}
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="/tutor/scheduleTutor">
        <i class="sidebar-menu-icon material-icons">event</i> {{__ "Schedule"}}
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a class="sidebar-menu-button" href="/tutor/chatTutor">
        <i class="sidebar-menu-icon material-icons">comment</i> {{__ "Messages"}}
      </a>
    </li>
  </ul>
</div>
<!-- // END Sidebar -->